@CHARSET "utf-8";

body {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div {
	padding: 5px;
	border: solid 1px #EAEACC;
}

#headerSection {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#contentSection {
	margin-top: 50px;
}

#footerSection {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

#extendedSection {
	display: none;
}

#subPanel {
	float: left;
	width: 300px;
	margin-right: 5px;
}

#mainPanel {

}


/* gen-preproc app-gnb	
[sjm='app-gnb'] .navbar-header {
	float: left;
}
[sjm='app-gnb'] .navbar-collapse ul li a {
	display: block;
	background: black;
	padding: 5px 10px 5px 10px;
	white-space: no-wrap;
	color: white;
}
[sjm='app-gnb'] .navbar-collapse ul li a:hover {
	background: #f00;
}
[sjm='app-gnb'] .navbar-collapse ul li {
	position: relative;
	float: left;
}
[sjm='app-gnb'] .navbar-collapse ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
[sjm='app-gnb'] .navbar-collapse ul.right {
	float: right;
}
[sjm='app-gnb'] .navbar-collapse li ul {
	display: none;
}
[sjm='app-gnb'] .navbar-collapse li:hover ul {
	display: block;
	position: absolute;
}
[sjm='app-gnb'] .navbar-collapse li:hover li a:hover {
	background: black;
}
[sjm='app-gnb'] .navbar-collapse li:hover li {
	float: none;
}
[sjm='app-gnb'] .navbar-collapse li:hover a {
	background: #f00;
}
[sjm='app-gnb'] .navbar-collapse li:hover {
}
[sjm='app-gnb'] .navbar-collapse {
	float: left;
}
*/
